@import '../shared/variables';
.app {
    color: $fg-color;
    background-color: $bg-color;
    font-family: $font-family-sans;

    max-width: 70em;
    margin: 0 auto;
    padding: 1em;
}
.app__header {
    font-family: $font-family-serif;
}